*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
  
}

body{
  font-size: 62.5%;
  font-family: 'Gloria Hallelujah', cursive;
  background-image: url(https://cdn.glitch.global/9db1163b-024c-40fd-b302-a4340985e8af/piano.jpg?v=1646959240208);
  background-repeat: no-repeat;
  background-position: center top;
  
  
  
}
h1{
  font-size: 3rem;
  margin-left:40rem;
 
}  

img{ 
  height: 900px;
  width: 900px;
}
.main{ 
  margin: 100px 10px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: red;
}

.notes{
  height: 450px;
  width: 121px;
  font-size: 1.5rem;

