*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
  
}
body{
  font-size: 62.5%;
  font-family: 'Gloria Hallelujah', cursive;
}

img{ 
  height: 900px;
  width: 900px;
}


.notes{
   height: 900px;
   width: 128.5714px;
   color: rgba(255,255,0,0.5);
   border: 3px solid red;

}